body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

header,footer {
    background-color:#845EC2;
}

footer, footer a {
    color: white;
}

.site-title {
    color: white;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul{
    list-style-type: square;
}

article li:nth-child(odd) {
    background-color: #FEFEDF;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: black;
    background-color:#FEFEDF;
    border: 2mm ridge #845EC2;
    padding: 10px 15px;
}

nav ul a:hover {
    background-color: #845EC2;
    color:white;
}

